@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

a {
  text-decoration: none;
}

.--content {
  max-width: 1215px;
  margin: auto;
}

.--button {
  padding: 10px 34px !important;
  background-color: #E1F538;
  border-radius: 200px;
  color: #000000 !important;
  font-size: 12px;
  font-weight: bold !important;
}
.--button-reverse {
  padding: 10px 34px !important;
  border: 1px solid #E1F538;
  border-radius: 200px;
  color: #E1F538 !important;
  font-size: 12px;
  font-weight: bold !important;
}
